@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/static/pretendard.css");

html {
  font-family: "Pretendard", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.text-glow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.2);
}

.text-dark-glow {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
}

.text-very-dark-glow {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.15);
}
